@use 'variables' as var;

@mixin button-schema($btn, $color, $key-bg, $key-shadow) {
	#{$btn} {
		color: $color;
		background-color: $key-bg;
		box-shadow: 0 4px 0px 0.2px $key-shadow;
	}
}

@mixin toggle-schema($toggle-bg, $toggle-color) {
	.radio_btns {
		background-color: $toggle-bg;
	}

	.dot {
		background-color: $toggle-color;
	}
}

@mixin theme-schema($main-bg, $button-text, $screen-bg, $keypad-bg) {
	background-color: $main-bg;
	color: $button-text;

	.calculator__result {
		background-color: $screen-bg;
	}

	.calculator__keypad {
		background-color: $keypad-bg;
	}
}

.theme-1 {
	@include theme-schema(
		var.$main-bg-1,
		var.$text-1,
		var.$screen-bg-1,
		var.$keypad-bg-1
	);
	@include toggle-schema(var.$toggle-bg-1, var.$toggle-color-1);
	@include button-schema(
		'.key',
		var.$btn-text-1,
		var.$num-key-bg-1,
		var.$num-key-shadow-1
	);

	@include button-schema(
		'.delete',
		var.$text-1,
		var.$modify-key-bg-1,
		var.$modify-key-shadow-1
	);
	@include button-schema(
		'.reset',
		var.$text-1,
		var.$modify-key-bg-1,
		var.$modify-key-shadow-1
	);
	@include button-schema(
		'.equal',
		var.$text-1,
		var.$equal-key-bg-1,
		var.$equal-key-shadow-1
	);
}

.theme-2 {
	@include theme-schema(
		var.$main-bg-2,
		var.$btn-text-2,
		var.$screen-bg-2,
		var.$keypad-bg-2
	);
	@include toggle-schema(var.$toggle-bg-2, var.$toggle-color-2);
	@include button-schema(
		'.key',
		var.$btn-text-2,
		var.$num-key-bg-2,
		var.$num-key-shadow-2
	);
	@include button-schema(
		'.delete',
		var.$text-2,
		var.$modify-key-bg-2,
		var.$modify-key-shadow-2
	);
	@include button-schema(
		'.reset',
		var.$text-2,
		var.$modify-key-bg-2,
		var.$modify-key-shadow-2
	);
	@include button-schema(
		'.equal',
		var.$text-2,
		var.$equal-key-bg-2,
		var.$equal-key-shadow-2
	);
}

.theme-3 {
	@include theme-schema(
		var.$main-bg-3,
		var.$text-3,
		var.$screen-bg-3,
		var.$keypad-bg-3
	);
	@include toggle-schema(var.$toggle-bg-3, var.$toggle-color-3);
	@include button-schema(
		'.key',
		var.$text-3,
		var.$num-key-bg-3,
		var.$num-key-shadow-3
	);
	@include button-schema(
		'.delete',
		var.$btn-modify-3,
		var.$modify-key-bg-3,
		var.$modify-key-shadow-3
	);
	@include button-schema(
		'.reset',
		var.$btn-modify-3,
		var.$modify-key-bg-3,
		var.$modify-key-shadow-3
	);
	@include button-schema(
		'.equal',
		var.$btn-equal-3,
		var.$equal-key-bg-3,
		var.$equal-key-shadow-3
	);
}
