@use 'variables' as var;
@use 'sass:map';
@use 'sass:string';

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@mixin button-schema($btn, $color, $key-bg, $key-shadow) {
	#{$btn} {
		color: $color;
		background-color: $key-bg;
		box-shadow: 0 4px 0px 0.2px $key-shadow;
	}
}

@mixin toggle-schema($toggle-bg, $toggle-color) {
	.radio_btns {
		background-color: $toggle-bg;
	}

	.dot {
		background-color: $toggle-color;
	}
}

@mixin theme-schema($main-bg, $button-text, $screen-bg, $keypad-bg) {
	background-color: $main-bg;
	color: $button-text;

	.calculator__result {
		background-color: $screen-bg;
	}

	.calculator__keypad {
		background-color: $keypad-bg;
	}
}

.theme-1 {
	@include theme-schema(
		var.$main-bg-1,
		var.$text-1,
		var.$screen-bg-1,
		var.$keypad-bg-1
	);
	@include toggle-schema(var.$toggle-bg-1, var.$toggle-color-1);
	@include button-schema(
		'.key',
		var.$btn-text-1,
		var.$num-key-bg-1,
		var.$num-key-shadow-1
	);
	@include button-schema(
		'.delete',
		var.$text-1,
		var.$modify-key-bg-1,
		var.$modify-key-shadow-1
	);
	@include button-schema(
		'.reset',
		var.$text-1,
		var.$modify-key-bg-1,
		var.$modify-key-shadow-1
	);
	@include button-schema(
		'.equal',
		var.$text-1,
		var.$equal-key-bg-1,
		var.$equal-key-shadow-1
	);
}

.theme-2 {
	@include theme-schema(
		var.$main-bg-2,
		var.$btn-text-2,
		var.$screen-bg-2,
		var.$keypad-bg-2
	);
	@include toggle-schema(var.$toggle-bg-2, var.$toggle-color-2);

	@include button-schema(
		'.key',
		var.$btn-text-2,
		var.$num-key-bg-2,
		var.$num-key-shadow-2
	);
	@include button-schema(
		'.delete',
		var.$text-2,
		var.$modify-key-bg-2,
		var.$modify-key-shadow-2
	);
	@include button-schema(
		'.reset',
		var.$text-2,
		var.$modify-key-bg-2,
		var.$modify-key-shadow-2
	);
	@include button-schema(
		'.equal',
		var.$text-2,
		var.$equal-key-bg-2,
		var.$equal-key-shadow-2
	);
}

.theme-3 {
	@include theme-schema(
		var.$main-bg-3,
		var.$text-3,
		var.$screen-bg-3,
		var.$keypad-bg-3
	);
	@include toggle-schema(var.$toggle-bg-3, var.$toggle-color-3);
	@include button-schema(
		'.key',
		var.$text-3,
		var.$num-key-bg-3,
		var.$num-key-shadow-3
	);
	@include button-schema(
		'.delete',
		var.$btn-modify-3,
		var.$modify-key-bg-3,
		var.$modify-key-shadow-3
	);
	@include button-schema(
		'.reset',
		var.$btn-modify-3,
		var.$modify-key-bg-3,
		var.$modify-key-shadow-3
	);
	@include button-schema(
		'.equal',
		var.$btn-equal-3,
		var.$equal-key-bg-3,
		var.$equal-key-shadow-3
	);
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: var.$font-family;
	font-size: var.$font-size;
}

.visually_hidden {
	font-size: 0;
}

.calculator {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin: 1rem;
}

.calculator__head {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.themes {
		display: flex;
		gap: 2rem;
		align-items: flex-end;

		h2 {
			font-size: 0.9rem;
			letter-spacing: 1px;
			text-transform: uppercase;
		}

		.options__labels {
			font-size: 0.8rem;
			display: flex;
			justify-content: space-around;
		}

		.radio_btns {
			position: relative;
			display: flex;
			justify-content: space-between;
			width: 4.5rem;
			height: auto;
			border: none;
			border-radius: 15px;
			padding-block: 0.4rem;
			padding-inline: 0.4rem;
			overflow: hidden;
			margin-block-start: 0.4rem;
			cursor: pointer;
		}

		/* Hiding the native radio button*/
		input[type='radio'] {
			-webkit-tap-highlight-color: transparent;
			background-color: transparent;
			cursor: pointer;
			opacity: 0;
		}

		/* Dot that points to the current theme*/
		.dot {
			width: 1rem;
			height: 1rem;
			border-radius: 50%;
			position: absolute;
			left: 0rem;
			top: 0.3rem;
			transform: translateX(0.3rem);
			z-index: 3;
			transition: all 300ms ease-in-out;

			&:hover {
				filter: brightness(125%);
				cursor: pointer;
			}

			@media (hover: hover) {
				&:active {
					filter: brightness(125%);
					cursor: pointer;
				}
			}
		}
	}
}

.calculator__result {
	padding: 2rem;
	border: none;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	text-align: right;
	height: 7.5rem;
	overflow: hidden;
	word-break: break-all;

	@media (min-width: 45rem) {
		padding: 2.5rem;
		font-size: 3rem;
	}

	div:first-child {
		font-size: 1rem;
	}
}

.calculator__keypad {
	padding: 1.2rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	border-radius: 10px;
	column-gap: 0.7rem;
	row-gap: 1rem;

	@media (min-width: 45rem) {
		padding: 2rem;
		gap: 1.5rem;
	}

	.key {
		padding-block: 0.9rem;
		padding-inline: 1.2rem;
		border: none;
		outline: 3px solid transparent;
		border-radius: 10px;
		font-size: 1.2rem;
		font-family: var.$font-family;
		font-weight: var.$fw-700;
		transition: all 1ms ease-in-out;

		&:hover {
			filter: brightness(125%);
			cursor: pointer;
		}

		@media (hover: hover) {
			&:active {
				filter: brightness(125%);
				cursor: pointer;
				/* Key pressed effect */
				transform: translateY(4px);
				box-shadow: none;
			}
		}

		@media (min-width: 45rem) {
			font-size: 2.5rem;
			padding-block-start: 1rem;
			padding-block-end: 0.5rem;
			padding-inline: 1.8rem;
		}
	}

	.delete {
		@media (min-width: 45rem) {
			font-size: 1.9rem;
		}
	}

	.reset {
		grid-area: 5 / 1 / span 1 / span 2;
		@media (min-width: 45rem) {
			font-size: 1.9rem;
		}
	}

	.equal {
		grid-area: 5 / 3 / span 1 / span 2;
	}
}
